textarea.behave {
    width: 400px;

    /* The following three rules make a difference in the script */
    overflow: hidden;
    line-height: 13px;
    font-size: 13px;

    border: 1px solid #999;
    padding: 10px;
    font-family: monospace;
}

.container {
    position: relative;
    display: inline-block;
}

.line-nums {
    font-size: 13px;
    line-height: 13px;
    padding: 10px 4px;
    font-family: monospace;
    background: #EEE;
    position: absolute;
    width: 20px;
    left: -28px;
    bottom: 0;
    top: 0;
    text-align: right;
}