<!--cq0_main.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Code Quiz2</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks/style2.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks/tabular_style.css"/>

    {# jQuery #}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui-1.10.3.custom.min.js"></script>

    {# part of django-generic-ratings http://django-generic-ratings.readthedocs.org#}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-rating/jquery.metadata.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ratings/js/ratings.js"></script>

    {# part of jquery star rating plugin http://www.fyneworks.com/jquery/star-rating/ #}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-rating/jquery.rating.css"/>
    <script type="text/javascript" src="{{ STATIC_URL}}jquery-rating/jquery.rating.js"></script>

{#  TODO: Add Font Awesome here, after merging the other branches#}

    {% include "feedback/header.html" %}  {# to make the feedback form ajaxy #}
    {% load mathjax %}
    {% mathjax_scripts %}
</head>

<body>

<div id="container">
    <div id="header_container">
        <div id="header_left">
            <h1>Code <span class="css_version">Quiz beta 0.2</span></h1>
        </div>
        <div id="header_right">
            <ul>
                <li><a title="home" href="{% url 'quiz_ns:index' %}">home</a></li>
                <li>|</li>
                <li><a class="active" title="quiz" href="{% url 'quiz_ns:task_collection_view' 1 %}">quiz</a></li>
                <li>|</li>
                <li><a title="admin" href="{% url 'admin:index' %}">admin</a></li>
            </ul>
        </div>
    </div>

    <div id="main_container">
        <div id="main_left">

            {% for mb in main_blocks %}
                <!-- Block _ save -->
                {{ mb|safe }}
                <br/>
            {% endfor %}

        </div>

        <!-- End of main_left -->

        <div id="main_right">

            {% for mb in meta_blocks %}
                <!-- Meta-Block _ save -->
                {{ mb|safe }}
                <br/>
            {% endfor %}
        </div>

        <!-- End of main_right -->

        <div id="bottom"></div>
    </div>

    <div id="footer_container">
        <div id="footer_left">
            <p><a title="back to top" href="#container"><strong>^ back to top</strong></a></p>
        </div>
        <div id="footer_right">
            <p>&copy; 2013 Carsten Knoll</p>
        </div>
    </div>
</div>

</body>

</html>