<!-- content of one single task  -->

<form action="{% url 'quiz_ns:tc_run_form_process' task.tc.id task.tc_task_id %}" method="post" autocomplete="off">


    {% csrf_token %} <!-- protect against cross site reference forgery -->

    <h2><span class="color1">Task:</span> "{{ task.title }}"</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% for html_string in html_strings %}
        {{ html_string|safe }}
    {% endfor %}

    <br/>

    <!-- Buttons: -->
    <span style="display: block; text-align: right;">
    {% for button_string in button_strings %}
        {{ button_string|safe }}
    {% endfor %}
    </span>
    <br/>

</form>
