<div style="background-color:#ffffff; padding:1em; margin:1em; width:50%">
<h2>About this project</h2>
<p style="font-size: 1.2em; text-align: justify; padding:10%">
CodeQuiz is a web platform for source code related quiz-tests. Currently it is used in
one specific course (Python for Engineers), held in two universities [1].
<br>
<br>
The web application is implemented in Python using the django framework.
It is still under active development, as user comments reveal bugs and suggest features. 
The project is open source and anybody is encouraged to use it and/or to contribute [2].
<br>
<br>
[1] <a title="http://tu-dresden.de/pythonkurs" href="http://tu-dresden.de/pythonkurs">http://tu-dresden.de/pythonkurs</a></li>
<br>
<br>
[2] <a title="github" href="https://github.com/cknoll/codequiz-server">https://github.com/cknoll/codequiz-server</a></li>
<br>
<br>
</p>
<br/>
</div>