<h2>Imprint / Impressum</h2>
<p>Angaben gemäß § 5 TMG:<br/><br/></p>
<p>Carsten Knoll<br/>
    Musterstraße 1<br/>
    012345 Musterstadt
</p>
<br/>
<br/>
<h2>Contact / Kontakt</h2>
<table style="width:350px">
    <tr>
        <td><p>Phone / Telefon:</p></td>
        <td><p>0500500500</p></td>
    </tr>
    <tr>
        <td><p>E-Mail:</p></td>
        <td><p>test@test1234567.de</p></td>
    </tr>
</table>
<br/>
<p><a href="{% url 'quiz_ns:disclaimer' %}">Disclaimer</a></p>
<p><a href="{% url 'quiz_ns:privacy' %}">Privacy / Datenschutz</a></p>
<br/>