div.table_container {
    display: table;
}

div.row {
    display: table-row;
}

div.cell {
    display: table-cell;
    padding-right: 20px;
    padding-bottom: 5px;
    vertical-align: top;
/*     text-align: left; */
}

div.cell p {
    margin: 1px 1px;
}

/*div.linenumber {
    display: table-cell;
    padding-right: 25px;
    width: 20pt;
}*/


