
/* definition of variables */
:root {

    --color-code-background: #EEE;
    --width-content: min(75vw, 60em);

    /* not yet used */
    --color-gray-dark-text: #333;
    --color-footer-background: hsl(230, 20%, 95%);
    --color-footer-text: hsl(00, 10%, 70%);


}


body {
    min-width: 960px;
    margin: 0 0 30px 0;
    padding: 0;
    background: #FFF;
    font-size: 75%;
    font-family: "arial", "verdana", "tahoma", "georgia", "trebuchet ms",serif;
    color: var(--color-gray-dark-text);
}



.container_all{
    max-width: 1024px;
    margin: 0 auto;
}

.task_grid {
    display: grid;
/*     grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
/*     background: #707; */
}
.task_grid > * {
/*     background: #F0F; */
}



.grid_col_s1 {
    grid-column-start: 1;
}
.grid_col_s3 {
    grid-column-start: 3;
}
.grid_col_1_3 {
    grid-column-start: 1;
    grid-column-end: 3; /* end column is exclusive*/
}



.fullheight {
  min-height: 99vh;
}


.meta_data_details {
    margin-top: 5em;

}
.meta_data_grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 15em 1fr;

}

summary h2 {

    color: red;
    display: inline;
}

footer {
    padding: 1em;
    background: var(--color-footer-background);
    overflow: hidden;
}

img {
    border: 0;
}

.centered {
   /* position: absolute;*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.result_data {

    font-family: "monospace";
    padding: 1em;
    background-color: var(--color-code-background);
    width: 60ch;
    display: block;
    overflow: hidden;
}

.general_content {
    margin-bottom: 2em;
}

.small {
    font-size: small;
}


.copy_button {
    color: red;
    float: right;
}
.copy_button {

  cursor: pointer;
  vertical-align: top;
  box-sizing: content-box;
  flex-direction: row;
  border: 1px solid rgba(22, 22, 117, 0.15);
  background-color: rgb(43, 43, 46, 0.3);
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 8px;
  float: right;
}


.button {
    -moz-box-shadow: inset 0 1px 0 0 #fceaca;
    -webkit-box-shadow: inset 0 1px 0 0 #fceaca;
    box-shadow: inset 0 1px 0 0 #fceaca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9900), color-stop(1, #eeaf41));
    background: -moz-linear-gradient(center top, #ff9900 5%, #eeaf41 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color: #ff9900;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    height: 36px;
    line-height: 36px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #ce8e28;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79));
    background: -moz-linear-gradient(center top, #eeaf41 5%, #ffce79 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
    background-color: #eeaf41;
}

.button:active {
    position: relative;
    top: 1px;
}

input[type="submit"] {
  -moz-border-radius: 10px;
  -moz-box-shadow: #d6d6d6 0 3px 3px;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.2s ease;
  background-color: #ff9900;
  background-image: -moz-linear-gradient(0deg, #eeaf41, #ff9900);
  background-image: -ms-linear-gradient(0deg, #eeaf41, #ff9900);
  background-image: -o-linear-gradient(0deg, #eeaf41, #ff9900);
  background-image: -webkit-linear-gradient(0deg, #eeaf41, #ff9900);
  background-image: linear-gradient(0deg, #eeaf41, #ff9900);
  border-radius: 10px;
  border: 1px solid #e67d00;
  box-shadow: #d6d6d6 0 3px 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 3px;
  text-decoration: none;
  transition: all 0.2s ease;
}
input[type="submit"]:hover {
  background-color: #ffce85;
  background-image: -moz-linear-gradient(0deg, #f5ce8a, #ffce85);
  background-image: -ms-linear-gradient(0deg, #f5ce8a, #ffce85);
  background-image: -o-linear-gradient(0deg, #f5ce8a, #ffce85);
  background-image: -webkit-linear-gradient(0deg, #f5ce8a, #ffce85);
  background-image: linear-gradient(0deg, #f5ce8a, #ffce85);
}

#container_old {
    margin: 0 auto;
    width: 960px;
}

#header_container {
    /*     width: 960px; */
    height: 70px;
    border-bottom: 2px solid #F90;
}

#header_left {
    float: left;
}

#header_left h1 {
    margin: 28px 0 0 0;
    padding: 0;
    font-size: 220%;
    font-weight: normal;
    color: #F90;
    letter-spacing: -1px;
}

#header_right {
    float: right;
    font-size: 1.2em;
}

#header_right ul {
    margin: 35px 15px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    color: #CCC;
    /*
     * seperators in the header
     */
}

#header_right ul li {
    display: inline;
    margin: 0 0 0 10px;
}

#header_right ul li a {
    text-decoration: none;
    color: #40779e;
    font-weight: bold;
}

#header_right ul li a.active {
    text-decoration: none;
    color: #0b2a51;
    font-weight: bold;
}

#header_right ul li a:hover {
    text-decoration: underline;
    color: #6d7f97;
}

pre {
    background-color: var(--color-code-background);
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    font-size: 1em;
    line-height: 1em;
    color: var(--color-gray-dark-text);
}

.source {
    border: 1px solid #aaa;
    font-family: Fixedsys, Courier, monospace;
}

div.comment p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 20px;
    background-color: #c4eeb6;
}

div.comment:before {
    content: "\f0eb"; /* light bulb, see  http://astronautweb.co/snippet/font-awesome/ */
    font-family: FontAwesome;
    text-decoration: inherit;
    color: #75e12e;
    font-size: 18px;
    padding-right: 0.5em;
    position: relative;
    top:20pt;
}

span.source {
    background-color: var(--color-code-background);
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    font-size: 1em;
    line-height: 1em;
}

code, tt {
    font-size: 9pt;
    font-weight: bold;
    background-color: var(--color-code-background);
}

textarea {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    border: 1px solid #aaa;
    resize:vertical;
    font-size: 12px;
    line-height: 12px;
}

textarea.source {
    font-family: Fixedsys, Courier, monospace;
}

#css_version {
    font-size: 50%;
    /*     color: #F90; */
    color: #8594a8;
    font-weight: normal;
}

.color1 {
    color: #233f62;
}

.input_field {
    text-align: right;
}

/* for gap text, dashed line instead of frame around input field */
input.gap {
    font-family: arial, verdana, tahoma, georgia, 'trebuchet ms', serif;
    font-size: 10pt;
    font-weight: normal;
    background-color: transparent;
    border: 0 dashed black;
    border-bottom-width: 1px;
    box-shadow: none !important;
}

input.gap.gap_right {
    background-color: #99ff99;
}

input.gap.gap_wrong {
    background-color: #ff9999;
}

/* no glowing outline, when editing */
input.gap:focus {
    outline: none;
    background-color: var(--color-code-background);
}

i.sol_wrong {
    color:#941214;
    font-size: 1.5em;
}

i.sol_right {
    color: #33a821;
    font-size: 1.5em;
}

pre.sol_right {
    border: 1px solid #21781e;
    font-family: Fixedsys, Courier, monospace;
    color: black;
    background-color: #9dff7c;
}

pre.sol_wrong {
    border: 1px solid #941214;
    font-family: Fixedsys, Courier, monospace;
    color: white;
    background-color: #c65543;
}

#main_container {
    line-height: 160%;
    padding: 15px 0 0 0;
    padding-bottom: 2em;
    border-bottom: 2px solid #F90;
}

#main_container p {
    /*margin: 0 15px 15px 15px;*/
}

#main_container h2, h3 {
    margin: 0 0 15px 0;
    font-size: 140%;
    font-weight: normal;
    color: #0b2a51;
    border-bottom: 1px solid #E5E5E5;
}

#bottom {
    clear: both;
    width: 720px;
}

#footer_container {
    float: left;
    height: 50px;
    width: 100%;
    color: #999;
}

#footer_container p {
    margin: 0;
    padding: 15px;
}

#footer_container a {
    color: #999;
    text-decoration: none;
}

#footer_container a:hover {
    color: #F90;
    text-decoration: none;
}

#footer_left {
    float: left;
    height: 50px;
}

#footer_right {
    float: right;
    height: 50px;
    text-align: right;
}
