{% load i18n %}
<div class="white left normal" id="feedback_button"><a>{% trans 'Feedback' %}</a></div>
<div class="hiding" id="feedback_drop"></div>
<div class="hiding" id="feedback_popup">
    <h1 style="padding-left: 5px; font-size: 14pt">Feedback for {{ task.title }}</h1>
    <form action="{% url 'feedback' task.id request.path %}" class="feedback" method="POST">{% csrf_token %}
    <div class="email error"></div>
        <label class="feedback" for="email">{% trans 'email (optional)' %}</label><input class="feedback" name="email"/>

        <div class="text error"></div>
        <label class="feedback" for="text">{% trans 'message' %}</label><textarea class="feedback"
                                                                                  name="text"></textarea>

        <div class="buttons">
            <button>Send</button>
        </div>
    </form>
    <div class="thanks hiding">{% trans 'Thank you for your feedback!' %}</div>
    <div class="close"></div>
</div>
<script>$(function () {
    feedback.init({
        'button': $('#feedback_button, #feedback_link'),
        'drop': $('#feedback_drop'),
        'popup': $('#feedback_popup')
    });
});</script>
