{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    <!-- utc_custom_admin_template with_devmode {{SETTINGS_DEVMODE}}!  -->
{% if SETTINGS_DEVMODE %}
    <link rel="shortcut icon" href="{% static 'favicon_admin_dev.ico' %}" />
{% else %}
    <link rel="shortcut icon" href="{% static 'favicon_admin.ico' %}" />
{% endif %}
{% endblock %}


{% block footer %}
{% if user.is_authenticated and user.is_staff %}
  <div class="footer" style="text-align: right; padding: 1em;">
    <a href="{% url 'quiz:download_backup_fixtures' %}">download data backup</a>
  </div>
{% endif %}
{% endblock %}
