<!-- ==> start: cbox.html -->

        <div class="container" style="width: 100%; padding-top: 20pt">

                    <div class="cell">
                            <label>
                                <input name="{{ cbox_id }}" type="checkbox" {% if user_solution == "True" %} checked="checked" {% endif %}>
                            </label>
                            {# unchecked cboxes are not contained in the form data -> hidden companion#}
                            <input type="hidden" name="hidden_cbox{{ cbox_id }}" value="foo">
                            &nbsp;{{ text_slot2 }}
                    </div>
                    {% if print_solution %}
                        <div class="cell">
                            <div class="{{ element.css_class }}">
                                {{ element.print_solution }}
                            </div>
                        </div>
                    {% endif %}
                </div>
        </div>

<!-- ==> end: cbox.html -->
