<!-- ==> start: cbox.html -->

        <div class="container" style="width: 100%; padding-top: 20pt">

                <div class="cell">
                        <label>
                            <input name="cbox_idx_{{ idx }}" type="checkbox" {% if user_solution == "True" %} checked="checked" {% endif %}>
                        </label>
                        {# unchecked cboxes are not contained in the form data -> hidden companion#}
                        <input type="hidden" name="hidden_cbox_idx_{{ idx }}" value="foo">
                        &nbsp;{{ text_slot2 }}
                </div>
                {% if print_solution %}
                    <div class="cell">
                        <div class="{{ css_class }}">
                            {{ printed_solution }}
                        </div>
                    </div>
                {% endif %}
            </div>
<!-- ==> end: cbox.html -->

