<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>

<title>Code Quiz</title> 


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style2.css' %}" />
</head>

<body>

<div id="container">
	<div id="headercont">
		<div id="headerleft">
			<h1>Code <span class="css_version">Quiz beta 0.2</span></h1>
		</div>
		<div id="headerright">
			<ul>
                <li><a title="home" href="/">home</a></li>
				<li><a class="active" title="quiz" href="{% url 'quiz_ns:task_collection_view' 2 %}">quiz</a></li><li>|</li>
				<li><a title="about" href="index.html">about</a></li><li>|</li>
				<li><a title="admin" href="/admin/">admin</a></li><li>|</li>
				<li><a title="link four" href="index.html">Link Four</a></li><li>|</li>
				
			</ul>
		</div>
	</div>
	
	<div id="maincont">
		<div id="mainleft">
		
{% for mb in main_blocks %}
<!-- Block _ save -->
        {{mb|safe}}
<br>        
{% endfor %}
		
		</div>
		
<!-- End of mainleft -->

		<div id="mainright">

{% for mb in meta_blocks %}
<!-- Meta-Block _ save -->
        {{mb|safe}}
<br>        
{% endfor %}		
		<!--
			<h2>Task-Infos-Statisch</h2>
            <ul><li> ID, (Author), Version ...</li>
            <li>Difficulty: ...</li>
            <li>Didactic Quality: ...</li>
            </ul>
            
			<p><strong>
			Proin magna erat, accumsan.</strong></p>
			<p>Ut a orci. Vivamus a felis ac neque dictum fermentum. Aliquam 
			quam erat, dapibus a, blandit ac, posuere at, eros.</p>
			
			<h2>Collection Infos</h2>
			<p><strong>Name der Aufgabensammlung</strong></p>
			<p>Kurze Beschreibung. Vivamus a felis ac neque dictum fermentum. Aliquam 
			quam erat, dapibus a, blandit ac, posuere at, eros.</p>
			<p>Donec erat. Suspendisse posuere orci placerat urna. Nunc posuere, 
			diam et ultricies ultricies, lectus elit viverra leo, in porta leo 
			libero vel eros.</p>-->
			
		</div>
		
		
<!-- End of mainright -->
		
		<div id="bottom"></div>
	</div>
	
	<div id="footercont">
		<div id="footerleft">
			<p><a title="back to top" href="#container"><strong>^ back to top</strong></a></p>
		</div>
		<div id="footerright">
			<p><a title="derby web design" href="http://www.tristarwebdesign.co.uk">template by <strong>tristar</strong></a></p>
		</div>
	</div>
</div>

</body>

</html>