{% extends "tasks/cq0_main_base.html" %}


{# This template is used to render the home page, imprint and other simple, single pages #}

<!-- begin cq0_simple.html  -->

{#{% block header %}#}
{# maybe override the buttons at the top? otherwise, delete this whole block #}
{#{% endblock header %}#}

{% block main %}
    {# content that appears between header and footer, full width #}
    {% if pagecontent %}
        {{ pagecontent|safe }}
    {% else %}
        {# default text #}
        <div style="background-color:#cccccc; padding:1em; margin:1em">
            <p>Bavaria ipsum dolor sit amet Greichats de Sonn, a bissal Biawambn ham Greichats kloan naa Wurscht!
                Gamsbart Hemad Marei, do. Musi sodala naa Watschnpladdla. Vui Leonhardifahrt wolpern Kirwa von a liabs
                Deandl. Bladl kloan Brotzeit Ohrwaschl Guglhupf Stubn nia need gschmeidig no a Maß. Is lem und lem lossn
                Radi i mog di fei, sog i naa sauba Bradwurschtsemmal. Iabaroi Gstanzl de Sonn sei muass wolln Bladl is
                ghupft wia gsprunga Servas eana. Om auf’n Gipfe Schbozal Lewakaas Heimatland, pfenningguat Bussal
                Weiznglasl zua a bissal Ledahosn! Wea nia ausgähd, kummt nia hoam es ebba gscheckate middn kimmt. Bussal
                is ma Wuascht ned woar, schüds nei wolln weida. Deandlgwand woaß pfenningguat i hab an Edlweiss
                heid!</p>

            <p>I sog ja nix, i red ja bloß jo leck mi scheans Fünferl Mongdratzal. Großherzig lem und lem lossn umananda
                aasgem Reiwadatschi vui huift vui Gaudi. Is des liab sog i Foidweg i moan scho aa, Mongdratzal i mechad
                dee Schwoanshaxn. I sog ja nix, i red ja bloß Ohrwaschl Schdeckalfisch no a bissal pfiad de, Engelgwand
                schüds nei! Weida iabaroi nimmds Ledahosn owe, Sauakraud Schmankal wuid Gstanzl ebba großherzig. Im
                Beidl wiavui des basd scho Trachtnhuat, gwiss in da greana Au Bussal: O’ha dringma aweng an spernzaln
                naa Almrausch heid gfoids ma sagrisch guad da Kini Maßkruag Zwedschgndadschi oans! Aba do nimmds sei
                hogg ma uns zamm Watschnbaam Servas, Maßkruag noch da Giasinga Heiwog mi. Sepp i hob di liab ma Guglhupf
                des is a gmahde Wiesn back mas guad! Um Godds wujn mim oans, zwoa, gsuffa noch da Giasinga Heiwog
                Almrausch Fingahaggln Kuaschwanz eam.</p>

            <p>San a ganze Hoiwe so Engelgwand spernzaln, gwiss imma. Mei Bladl und glei wirds no fui lustiga baddscher
                naa Charivari Spotzerl in da Sauwedda, des basd scho Weibaleid! Bittschön hod Resi Gamsbart, sauba.
                Gidarn schnacksln mechad jo mei is des schee weida nia need middn Spezi. Habedehre schüds nei Spezi hod
                Ohrwaschl. Schoo Biawambn Charivari Schdarmbeaga See Kuaschwanz, muass. Schorsch Sepp amoi hob
                Haberertanz sog i d’ Ewig und drei Dog: Griasnoggalsubbm Gidarn barfuaßat vo de bitt. Middn Fünferl
                samma gscheit so wann griagd ma nacha wos z’dringa lem und lem lossn jo mei nia need is ma Wuascht
                hallelujah sog i, luja. I Musi anbandeln Milli dei Schbozal! Greaßt eich nachad Biazelt hogg ma uns zamm
                Schdeckalfisch fias Lewakaas Biazelt, a bravs!</p>
        </div>
        <div style="background-color:#555555; color:white; padding:1em; margin:1em">
            <p>Wurznsepp, Betschwesta, varreckta Deifi, Frichdal, damischa Saupreiß, Zwedschgarl, Pfundhamme,
                Zwedschgarl, Schuibuamtratza, Daamaluudscha, oide Rudschn, Jochgeia, Lausbua, oida Daddara,
                Gscheidhaferl, Plotschn, Bagaasch, Schnoin, du ogsoachte, Schnoin, Bruinschlanga, Griasgram, Hundsbua,
                Kaasloabe, Betschwesta, Aff, Bazi, Mistviach, ja, wo samma denn, Aushuifsbaya, eigschnabbda, gwampate
                Sau, Gschaftlhuaba, Schdinkadores, Lätschnbebbi, oide Rudschn, Kaasloabe, mogsd a Wadschn, Dreeghamml,
                Grattla, Aushuifsbaya, Goaspeterl, Palmesel, bsuffas Wagscheidl, Radlfahra, Hornochs, damischa Saupreiß,
                Pfundhamme, Dramhappada, Pfundsau!</p>
        </div>
    {% endif %}
{% endblock main %}

<!-- end cq0_simple.html  -->