<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

{# This template is the base for all top level templates which provide a view of a task #}
{# it operates with ++ blocks ++ #}

<head>
    <title>Code Quiz</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks/tabular_style.css?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks/1152_16_col.css?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks/style2.css?{% now "U" %}"/>

    {# jQuery #}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui-1.10.3.custom.min.js"></script>

    {# part of django-generic-ratings http://django-generic-ratings.readthedocs.org#}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-rating/jquery.metadata.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ratings/js/ratings.js"></script>

    {# part of jquery star rating plugin http://www.fyneworks.com/jquery/star-rating/ #}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-rating/jquery.rating.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-rating/jquery.rating.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css"/>

    {% include "feedback/header.html" %} {# to make the feedback form ajaxy #}
    {% load mathjax %}
    {% mathjax_scripts %}
</head>

<body>


<div class="container_16">
    {% block header %}
        <div id="header_container">
            <div class="grid_10" id="header_left">
                <h1>Code<span class="color1">Quiz</span> <span id="css_version">beta 0.4</span></h1>
            </div>
            <div class="grid_6" id="header_right">
                <ul>
                    <li><a title="home" href="{% url 'quiz_ns:index' %}"><i class="fa fa-home"></i> home</a></li>
                    <li>|</li>
                    <li><a class="active" title="quiz" href="{% url 'quiz_ns:task_collection_view' 1 %}">quiz</a></li>
                    <li>|</li>
                    <li><a title="admin" href="{% url 'admin:index' %}">admin</a></li>
                    <li>|</li>
                    <li><a title="admin" href="{% url 'quiz_ns:about' %}">about</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    {% endblock %}

    <div id="main_container">
        {% block main %}
            <div class="grid_12" style="position: relative;">
                {% block main_left %}

                    Main content

                {% endblock %}
            </div>

            <!-- End of main_left -->

            <div class="grid_4">
                {% block main_right %}
                    content of right column
                {% endblock %}
            </div>
            <div class="clear"></div>

            <!-- End of main_right -->
        {% endblock %}
    </div>

    <div id="footer_container">
        <div id="footer_left">
            <p><a title="back to top" href="#"><i class="fa fa-arrow-circle-up"></i> back to top</a></p>
        </div>
        {% block progress %}
            <div style="position: relative; top: 12px; left:25%; width: 50%">
                {% include "tasks/z_cq1_taskcollection_progress.html" %}
            </div>
        {% endblock %}
        <div id="footer_right">

        </div>
    </div>
</div>
<!-- end .container_16 -->

</body>

</html>