<!-- content of one single task  -->

<h2>Taskcollection-Meta-Infos</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="container">
    <div class="row">
        <div class="cell">Title:</div>
        <div class="cell"> {{ tc.title }} </div>
    </div>
    <div class="row">
        <div class="cell">ID:</div>
        <div class="cell"> {{ tc.id }} </div>
    </div>
    <div class="row">
        <div class="cell">Author:</div>
        <div class="cell"> {{ tc.author }} </div>
    </div>
    <div class="row">
        <div class="cell"># of tasks:</div>
        <div class="cell"> {{ tc.number_of_tasks }} </div>
    </div>
    <div class="row">
        <div class="cell">Tags:</div>
        <div class="cell"> {{ tc.tags_as_string }} </div>
    </div>
</div>
