<!-- content of one single task  -->

{# javascripts required by SliderVoteForm #}

<h2>Task-Meta-Infos</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

{% load ratings_tags %}
{% get_rating_form for task using 'difficulty' as rating_form_difficulty %}
{% get_rating_form for task using 'quality' as rating_form_quality %}
{% get_rating_score for task using 'difficulty' as score_difficulty %}
{% get_rating_score for task using 'quality' as score_quality %}


<div class="container">
    <div class="row">
        <div class="cell">Title:</div>
        <div class="cell" style="width:180px"> {{ task.title }} </div>
    </div>
    <div class="row">
        <div class="cell">ID:</div>
        <div class="cell"> {{ task.id }} </div>
    </div>
    <div class="row">
        <div class="cell">Author:</div>
        <div class="cell"> {{ task.author }} </div>
    </div>
    <div class="row">
        <div class="cell">Revision:</div>
        <div class="cell"> {{ task.revision }} </div>
    </div>
    <div class="row">
        <div class="cell">Quality:</div>
        <div class="cell">
            <form id="qualityratingform" action="{% url "ratings_vote" %}" class="ratings" method="post">
                {% csrf_token %}
                {{ rating_form_quality }}
                <span id="score_quality"
                      style="padding-cell: 5px">{{ score_quality.average }} ({{ score_quality.num_votes }})</span>
                <span class="success" style="display: none;"></span>
                <span class="error" style="display: none;">Errors...</span>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="cell">Difficulty:</div>
        <div class="cell">
            <form id="difficultyratingform" action="{% url "ratings_vote" %}" class="ratings" method="post">
                {% csrf_token %}
                {{ rating_form_difficulty }}
                <span id="score_difficulty"
                      style="padding-cell: 5px">{{ score_difficulty.average }} ({{ score_difficulty.num_votes }})</span>
                <span class="success" style="display: none;"></span>
                <span class="error" style="display: none;">Errors...</span>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="cell">Tags:</div>
        <div class="cell"> {{ task.tags_as_string }} </div>
    </div>
</div>

{# JS for updating the average ratings on the fly #}
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        var doSomething = function (element, target) {
            $('#' + element).on("vote_submit", function (event, data) {
                score_average = data["score_average"];
                score_num = data["score_num_votes"];
                $('#' + target).text(score_average + "(" + score_num + ")");
            });
        };

        doSomething("difficultyratingform", "score_difficulty");
        doSomething("qualityratingform", "score_quality");
    });

</script>

