<!-- content of one single task  -->

<h2>Taskcollection-Meta-Infos</h2>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="container">
    <div class="row">
        <div class="left">
            <p>Title:</p>
        </div>
        <div class="right"> {{ tc.title }} </div>
    </div>
    <div class="row">
        <div class="left">
            <p>ID:</p>
        </div>
        <div class="right"> {{ tc.id }} </div>
    </div>
    <div class="row">
        <div class="left">
            <p>Author:</p>
        </div>
        <div class="right"> {{ tc.author }} </div>
    </div>
    <div class="row">
        <div class="left">
            <p># of tasks:</p>
        </div>
        <div class="right"> {{ tc.number_of_tasks }} </div>
    </div>
</div>
