<!-- ==> start: cbox.html -->

        <div class="row" style="width: 100%; padding-top: 20pt">

            <div class="linenumber">
                        {{question_counter}}.
            </div>
            
            {% include "tasks/cq3_description_cells.html" with cells=text_slots %}
            
            <div class="cell">
                    <label>
                        <input name="cbox_idx_{{ idx }}" type="checkbox" {% if user_solution == "True" %} checked="checked" {% endif %}>
                    </label>
                    {# unchecked cboxes are not contained in the form data -> hidden companion#}
                    <input type="hidden" name="hidden_cbox_idx_{{ idx }}" value="foo">
            </div>
            {% if print_solution %}
                <div class="cell">
                    <pre class="{{ css_class }}">{{ printed_solution }}</pre>
                </div>
            {% endif %}
        </div>
<!-- ==> end: cbox.html -->

