<!-- ==> start: cq2_cbox.html -->

<div class="grid_4 alpha">
    <div style="margin-left:-110px;text-align: right; width:100px; float: left">
        {{ question_counter }}.
    </div>

    {% if text_slots.0.type == "source" %}
        <pre class="source">{{ text_slots.0.content }}</pre>
    {% else %}
        <span class="normal">{{ text_slots.0.content|safe }}</span>
    {% endif %}

</div>

<div class="input_field grid_4{% if not print_solution %} suffix_4 omega{% endif %}">
    <input name="answer_{{ idx }}" type="checkbox" {% if user_solution == "on" %} checked="checked" {% endif %}>
</div>

{% if print_solution %}
    <div class="grid_4 omega">
        <pre class="{{ css_class }}">{{ printed_solution }}</pre>
    </div>
{% endif %}
<div class="clear"></div>

<!-- ==> end: cq2_cbox.html -->

