{% load staticfiles %}
{# is this line neccessary?#}


<div class="le_list">


{% if input_list %}
<table>
    {% for elt in input_list %}
        <tr><td>{{forloop.counter}}.</td>
        <td>
        {% if elt.src.text %}
        <pre class="src">{{elt.src.text}}</pre>
        {% else %}
        <span class="normal">{{elt.txt.text}}</span>
        {% endif %}
        </td>
        <td>
        {% if elt.le %}
        <input name="le{{forloop.counter}}" type="text" size="{{elt.le.len}}" value="{{elt.user_solution}}" autocomplete="off">
        {% elif elt.cbox %}
        <input name="cbox{{forloop.counter}}" type="checkbox" {% if elt.user_solution == "True" %} checked="checked" {% endif%}>
        {# unchecked cboxes are not contained in the form data -> hidden compagnion#}
        <input type="hidden" name="hidden_cbox{{forloop.counter}}" value="foo">
        &nbsp;{{elt.cbox.label}}
        {% else %}
        Invalid input field.
        {% endif %}
        </td>
        {% if print_solution %}
        <td>
        <div class="{{elt.css_class}}">
        {{elt.print_solution}}
        </div>
        </td>
        {% endif %}
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>No line_edits are available. This should not happen</p>
{% endif %}


</div>