<!-- ==> start: part_input_list.html -->
{% load staticfiles %}
{# is this line neccessary?#}


<div class="le_list" xmlns="http://www.w3.org/1999/html">


    {% if input_list %}
        <div class="container" style="width: 100%; padding-top: 20pt">
            {% for element in input_list %}
                <div class="row" style="height: 40pt">
                    <div class="left">
                            {{ forloop.counter }}.

                            {% if element.src.text %}
                                <pre class="src inline">{{ element.src.text }}</pre>
                            {% else %}
                                <span class="normal">{{ element.txt.text }}</span>
                            {% endif %}
                    </div>
                    <div class="middle">
                        {% if element.le %}
                            <label>Antwort:
                                <input name="le{{ forloop.counter }}" type="text" size="{{ element.le.len }}"
                                       value="{{ element.user_solution }}" autocomplete="off">
                            </label>
                        {% elif element.cbox %}
                            <label>
                                <input name="cbox{{ forloop.counter }}" type="checkbox"
                                        {% if element.user_solution == "True" %} checked="checked" {% endif %}>
                            </label>
                            {# unchecked cboxes are not contained in the form data -> hidden companion#}
                            <input type="hidden" name="hidden_cbox{{ forloop.counter }}" value="foo">
                            &nbsp;{{ element.cbox.label }}
                        {% else %}
                            Invalid input field.
                        {% endif %}
                    </div>
                    {% if print_solution %}
                        <div class="right">
                            <div class="{{ element.css_class }}">
                                {{ element.print_solution }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No line_edits are available. This should not happen</p>
    {% endif %}


</div>
<!-- ==> end: part_input_list.html -->
