<!-- ==> start: task_detail.html -->
<!-- For a single Task (outside of a test)-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}"/>


<form action="{% url 'quiz_ns:task_form_process' task.id %}" method="post">
    {% csrf_token %}

    <div class="task1">
        <h2>{{ task.title }}
            <div class="small">
                by {{ task.author }}
            </div>
        </h2>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}


        {% for s in strings %}

            {{ s|safe }}

        {% endfor %}

        <span style="display: block; text-align: right;">
            {% for bs in button_strings %}

                {{ bs|safe }}

            {% endfor %}
        </span>
        <br/>
        <br/>
        <br/>

        Tags: <span class="tags">{{ task.tags_as_string }}</span>

    </div>
</form>
<!-- ==> end: task_detail.html -->
