<!-- ==> start: tc_run_task_detail.html -->
<!--For a task as an element of a test (TaskCollection) -->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}"/>


<form action="{% url 'quiz_ns:tc_run_form_process' tc.id ID %}" method="post">
    {% csrf_token %}

    <div class="task1">
        <h3>{{ tc.title }} : Task {{ ID|add:1 }}/{{ LEN }}</h3>

        <h2>{{ task.title }}<span class="small">by {{ task.author }}</span></h2>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <br/>
        <br/>

        {% for s in html_strings %}

            {{ s|safe }}
            <br/>
        {% endfor %}

        <br/>
        <span style="display: block; text-align: right;">
        {% for bs in button_strings %}

            {{ bs|safe }}

        {% endfor %}
        </span>
        <br/>

    </div>
</form>
<!-- ==> end: tc_run_task_detail.html -->
