<!-- content of one single task  -->

<form action="{% url 'quiz_ns:task_form_process' mb.task.id %}" method="post" autocomplete="off">


    {% csrf_token %} <!-- protect against cross site reference forgery -->

    <h2><span id="color1">Task:</span> "{{ mb.task.title }}"</h2>

    
    {% for s in mb.html_strings %}

        {{ s|safe }}
        <br/>
    {% endfor %}

    <br/>

    <!-- Buttons: -->
    <span style="display: block; text-align: right;">
    {% for bs in mb.button_strings %}

        {{ bs|safe }}

    {% endfor %}
    </span>
    <br/>

</form>
