<!-- start of cq1_task_meta.html  -->

<details class="meta_data_details">
<summary>
<h2>Task-Meta-Data</h2>
</summary>


<div class="meta_data_grid">

<div class="grid_col_s1">Title:</div>
<div class=""> {{ task.title }} </div>

<div class="grid_col_s1">ID:</div>
<div class=""> {{ task.id }} </div>

<div class="grid_col_s1">Author:</div>
<div class=""> {{ task.author }} </div>

<div class="grid_col_s1">Revision:</div>
<div class=""> {{ task.revision }} </div>



{% if task.tags_as_string %}
<div class="grid_col_s1">Tags:</div>
<div class=""> {{ task.tags_as_string }} </div>
{% endif %}
</div>

<div class="" style="margin-top: 10px">
    <i class="fa fa-pencil"></i>
<!--     <a href="#" onclick="return false;" id="feedback_link">Send feedback for this task</a> -->
    <a href="{% url 'quiz_ns:about' %}" target="_blank" id="feedback_link">Send feedback for this task</a>
</div>


</details>
