<!-- content of one single task  -->

{# javascripts required by SliderVoteForm #}

<h2>Task-Meta-Infos</h2>

<!--{ % load ratings_tags %}-->
<!--{ % get_rating_form for task using 'difficulty' as rating_form_difficulty %}-->
<!--{ % get_rating_form for task using 'quality' as rating_form_quality %}-->
<!--{ % get_rating_score for task using 'difficulty' as score_difficulty %}-->
<!--{ % get_rating_score for task using 'quality' as score_quality %}-->

<div class="clear"></div>
<div class="grid_1 alpha">Title:</div>
<div class="grid_3 omega"> {{ task.title }} </div>

<div class="grid_1 alpha">ID:</div>
<div class="grid_3 omega"> {{ task.id }} </div>

<div class="grid_1 alpha">Author:</div>
<div class="grid_3 omega"> {{ task.author }} </div>

<div class="grid_1 alpha">Revision:</div>
<div class="grid_3 omega"> {{ task.revision }} </div>




<div class="grid_1 alpha">Tags:</div>
<div class="grid_3 omega"> {{ task.tags_as_string }} </div>

<div class="grid_4 alpha omega" style="margin-top: 10px">
    <i class="fa fa-pencil"></i> <a href="#" onclick="return false;" id="feedback_link">Send feedback for this task</a>
</div>

<div class="clear"></div>


<!--{ % include "feedback/button.html" %}-->

{# JS for updating the average ratings on the fly #}
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        /**
         * Dynamically updates the rating value and average after sending the vote
         * (by clicking on the star rating widget)
         * @param element which of the forms to hook up with the code
         * @param target where to change the text
         */
        function updateRatingAverage(element, target) {
            $('#' + element).on("vote_submit", function (event, data) {
                score_average = data["score_average"];
                score_num = data["score_num_votes"];
                $('#' + target).text(score_average + "(" + score_num + ")");
            });
        };

        updateRatingAverage("difficultyratingform", "score_difficulty");
        updateRatingAverage("qualityratingform", "score_quality");
    });

</script>

