<!-- ==> start: gaptxt.html -->

{{ solution_result|json_script:solution_result_id }}

<div class="grid_12 alpha omega" style="padding: 0.5em 0px;">

    <div>
        {{ text|safe }}

    </div>
    <div style="margin-top: 1em;">

{% if solution_hints %}
        {# !!hcl hard-coded-language #}
        Hinweise zur Lösung: {% for hint in solution_hints %} <pre style="display: inline;">{{hint}}</pre>{% endfor %}
{% endif %}
    </div>
</div>
<div class="clear"></div>
<!-- ==> end: gaptxt.html -->
