{% extends "tasks/cq0_main_base.html" %}

{% load static %}

{% block main_left %}
<!-- ==> start: task_collection.html -->

<div class="general_content">
    <h1>Task collection: <i>{{ tc.title }}</i></h1>

    <div class="small">
        Author: {{ tc.author }}, 
        ID: {{ tc.id }}
        <br>
        <br>
    </div>

    {% if task_list %}
        <h2>Tasks:</h2>
        <div class="container" style="width: 100%">
            {% for task in task_list %}
                <div class="row">
                    <div class="linenumber">{{ forloop.counter }}.&nbsp;</div>
                    <div class="cell">{{ task.title }}</div>
                </div>
            {% endfor %}
        </div>
        <br/>
        <form action="{% url 'quiz_ns:tc_run_view' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="meta_tc_id" value="{{tc.id}}">

        <input type="hidden" name="meta_tc_task_id" value="-1"> {# this is before the first task -> 0 #}

        <button type="submit" class="button" name="button_next" style="width:200pt">
                Start Task Collection <i class="fa fa-caret-right fa-2x pull-right"></i>
        </button>
        </form>

    {% else %}
        <p>No tasks are available.</p>
    {% endif %}
</div>
<!-- ==> end: task_collection.html -->
{% endblock  %}


{% block main_right %}

<!-- no right collumn in task collection overview -->
{% endblock  %}



{% block progress %}
<!-- no progress bar in task collection overview -->
{% endblock  %}
