{% extends "tasks/cq0_main_base.html" %}
{% load static %}



{% block main_left %}
<!-- ==> start: tc_run_final.html (main block)-->
<div class="centered " style="width:500px">
    <h1>Test finished!</h1>
    <p>You completed the test "{{ tc.title }}".</p>
    <p>You correctly answered <b>{{ percentage }}&#37;</b> of {{ tc.number_of_tasks }} tasks (with {{ percentage_segments }} &#37; correct sub-tasks). <br>The following string encodes your detailed test result:<br></p>

    <div class="result_data">
        <div id="result_data_content">
        {{ result_data }}
        </div>
        <div class="copy_button">
            <img src="{% static '/img/copy-icon.svg' %}" width="15px" title="copy result data to clipboard">
            <br>
        </div>
    </div>
</div>

<!-- ==> end: tc_run_final.html -->
{% endblock %}
