{% extends "tasks/cq0_main_base.html" %}
{% load static %}



{% block main_left %}
<!-- ==> start: tc_run_final.html (main block)-->
<div class="centered " style="width:500px">
    <h1>Test finished!</h1>
    <p>You completed the test "{{ tc.title }}" with {{ tc.number_of_tasks }} tasks.</p>
    <p>You achieved <b>{{ percentage }}&#37;</b> of possible scores. <br>The following string encodes your detailed test result:<br></p>

    <div class="result_data">
    {{ result_data }}
    </div>


</div>

<!-- ==> end: tc_run_final.html -->
{% endblock %}
