{% extends "tasks/cq0_main_base.html" %}
{% load static %}



{% block main_left %}
<!-- ==> start: tc_run_final.html (main block)-->
<div class="centered " style="width:500px">
    <h1>Test finished!</h1>
    <p>You completed the test "{{ tc.title }}".</p>
    <p>You correctly answered <b>{{ percentage }}&#37;</b> of {{ tc.number_of_tasks }} tasks (with {{ percentage_segments }} &#37; correct sub-tasks). <br>The following string encodes your detailed test result:<br></p>

    <div class="result_data">
        <div id="result_data_content">
        {{ result_data }}
        </div>
        <div id="copy_button" class="copy_button">
            <img src="{% static '/img/copy-icon.svg' %}" width="15px" title="copy result data to clipboard">
            <br>
        </div>
    </div>
</div>

<script>
    const content_field = document.getElementById('result_data_content');
    const copy_button = document.getElementById('copy_button');
    const textToCopy = content_field.textContent.trim();

    /*
    copy_button.addEventListener('click', () => {
        console.log(textToCopy);
    });
    */

    copy_button.addEventListener('click', () => {
        navigator.clipboard.writeText(textToCopy)
            .then(() => console.log('Text copied to clipboard'))
            .catch((err) => console.error('Error copying text: ', err));
    });

</script>



<!-- ==> end: tc_run_final.html -->
{% endblock %}
