<!-- content of one single task  -->

<div class="task_grid">
<form action="{% url 'quiz_ns:tc_run_view' %}" method="post" autocomplete="off">

<!-- protect against cross site reference forgery -->
{% csrf_token %}

<input type="hidden" name="meta_task_id" value="{{ mb.task.id }}">
<input type="hidden" name="meta_tc_id" value="{{ mb.tc_id }}">
<input type="hidden" name="meta_tc_task_id" value="{{ mb.tc_task_id }}">

<div class="grid_col_1_4">
<h2><span class="color1">Task:</span> &raquo;{{ task.title }}&laquo;</h2>
</div>

{# the html strings are rendered by django and passed via the context #}
{% for s in mb.html_strings %}
    {{ s|safe }}
{% endfor %}

{%if mb.html_strings %}
<!-- add empty grid row to achieve consistent styling -->
<div class="grid_col_s1">&nbsp;</div>
{% endif %}

    <!-- Buttons: -->
    <div style="display: block; text-align: right;" class="grid_col_s3">
        {% for bs in mb.button_strings %}
            {{ bs|safe }}
        {% endfor %}
    </div>
</form>
</div> <!--  end of class=task_grid-->
<script type="application/javascript" charset="utf-8">
    $(document).ready(function () {
        $('textarea.disablecopypaste').bind('copy paste', function (e) {
            e.preventDefault();
        });
    });
</script>
